body{
    background-color: black;
}
span{
    color: white;
    font-size: 18px;
}
header{
    padding-left: 150px;
}
header div{
    display: flex; 
    justify-content: space-between;
}
a{
    color: rgb(172, 170, 170);
    text-decoration: underline;
}
p{
    color: white;
    display: flex;
    justify-content: center;
}
.fa-solid.fa-xmark {
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.dwnldText {
    text-align: left;
    padding: 20px;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: space-between;  
    padding: 60px;
}
.g-col-6 img{
    width: 800px;
    padding-right: 80px;
}

